<template>
    <v-dialog
            v-bind="$props"
            v-on="$listeners"
            max-width="355"
            @click:outside="$emit('input', false)">

        <v-card width="350">
            <v-card-title>Adicionar Grupo</v-card-title>
            <v-form>
                <v-text-field v-model="form.name"/>
                <v-select v-model="form.users" :items="users" multiple chips item-text="name" item-value="id"/>
            </v-form>
            <v-alert type="error" v-if="error">{{error}}</v-alert>
            <v-card-actions>
                <v-spacer/>
                <v-btn color="primary" @click="sendForm">Enviar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "AddGroupDialog",
        props: {
            value: Boolean,
        },
        data() {
            return {
                form: {},
                users: [],
                error: '',
            }
        },
        methods: {
            sendForm() {
                this.$http.post('/groups', this.form).then((result) => {
                    this.form.id = result.data.id;
                    this.$emit('add', this.form);
                    this.$emit('input', false);
                }).catch(err => {
                    this.error = err;
                });
            }
        },
        watch: {
            value(value) {
                if (value) {
                    this.$http.get('/users').then(result => {
                        this.users = result.data;
                    })
                }
            }
        }

    }
</script>

<style scoped>

</style>