<template>
    <div>
        <div v-for="(msg , i) in msgs" :key="i">
            <label :style="{textAlign: msg.name === $user.user.name? 'left': 'right'}">{{msg.text}}</label>
        </div>
        <v-text-field v-model="msg" @keyup.enter="input"/>
    </div>
</template>

<script>
    export default {
        name: "Group",
        props: {
            group: Object,
        },
        data() {
            return {
                text: '',
                msg: '',
                msgs: [],
            }
        },
        methods: {
            input() {
                console.log(this.$user.user.name);
                this.$socket.emit('message', {
                    name: this.$user.user.name,
                    text: this.msg,
                    groupId: this.group.id
                });
                this.msg = "";
            }
        },
        sockets: {
            message: function (data) {
                console.log(data);
                this.msgs.push(data);
                console.log(this.msgs);
            },
        },
        mounted() {
            this.$socket.emit('joinGroup', {groupId: this.group.id})
            // this.$mqtt.subscribe('group/' + this.group.id);
            // this.$mqtt.on('message', (topic, payload) => {
            //     // console.log('aquiiiiiiiii', val, granted, batata);
            //     // console.log(new TextDecoder("utf-8").decode(granted));
            //     this.msgs.push(JSON.parse(new TextDecoder("utf-8").decode(payload)));
            // });
        },
        beforeDestroy() {
            this.$socket.emit('leaveGroup', {groupId: this.group.id});
            // this.$mqtt.unsubscribe('group/' + this.group.id);
        },
        watch: {
            group() {
                this.msgs = [];
            }
        }

    }
</script>

<style scoped>
    div {
        height: 90%;
    }

    .bubble {
        position: relative;
        width: 250px;
        height: 120px;
        padding: 0px;
        background: var(--v-primary-base);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

</style>