<template>
    <v-container>
        <v-layout justify-center>
            <v-card class="col-12 col-sm-6">
                <v-card-title>Login</v-card-title>
                <v-form>
                    <v-text-field v-model="loginForm.email" lavel="Email"/>
                    <v-text-field v-model="loginForm.password" lavel="Senha" type="password"/>
                </v-form>
                <v-alert v-if="error" type="error">{{error}}</v-alert>
                <v-btn @click="login" :loading="loading">Logar</v-btn>
            </v-card>
        </v-layout>
    </v-container>
</template>

<script>
    let user = require('../Utils/user');
    export default {
        name: "Login",
        data() {
            return {
                loginForm: {},
                loading: false,
                error: '',
            }
        },
        methods: {
            login() {
                // this.loading = true;
                this.$http.post('/login', this.loginForm).then((response) => {
                    this.error = "";
                    user.user = response.data;
                    this.$router.push({name: "Main"});
                }).catch(err => {
                    console.log(err);
                    if (err.response.status === 401) {
                        this.error = "Senha ou Usuário Errado";
                    } else {
                        this.error = err;
                    }
                });
            }

        }
    }
</script>

<style scoped>

</style>