<template>
    <v-container>
        <v-card>
            <v-card-title style="background-color: gray">{{this.$user.user.name}}
            </v-card-title>
            <v-layout>
                <v-layout class="col-4" justify-center wrap>
                    <div v-for="(group, i) in groups" class="col-12 mb-1" :key="i" v-ripple style="cursor:pointer"
                         @click="$router.push({name: 'Group', params: {group, name:group.name}})">
                        <v-card-title>{{group.name}}</v-card-title>
                        <v-divider/>
                    </div>
                </v-layout>
                <v-btn fixed fab right bottom color="secondary" @click="openGroupDialog = true">
                    <v-icon>mdi-plus</v-icon>
                </v-btn>
                <AddGroupDialog v-model="openGroupDialog" @add="groups.push($event)"/>
                <router-view class="col-8"/>
            </v-layout>
        </v-card>
    </v-container>
</template>

<script>
    import AddGroupDialog from "../components/AddGroupDialog";

    export default {
        name: "Main.vue",
        components: {AddGroupDialog},
        data() {
            return {
                groups: [],
                openGroupDialog: false,
            }
        },
        mounted() {

            this.$http.get('/groups').then(result => {
                this.groups = result.data;
            })
        }


    }
</script>

<style scoped>

</style>